<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet/less" type="text/css" href="~/Content/less/style.less" />
    <link rel="stylesheet" type="text/css" href="~/Content/toastr.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />
    @RenderSection("styles", false)

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/less")
    @RenderSection("scripts", false);
</head>
<body>
    <div class="sidebar">
        @Html.Partial("Partial/_SideMenu")
    </div>
    <div class="main_container">
        @RenderBody()
    </div>
</body>
</html>
